<div class="table-container">
  <div class="table-content">
    <div class="list-header">
      <div class="list-title">
        <h1>12 Projects</h1>
      </div>
      <div class="actions">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search Project"
            aria-label="Search"
          />
          <button class="search-btn" type="submit">Search</button>
        </form>

        <button type="button" (click)="openModalWithComponent()">
          <strong>Create Project <span>+</span></strong>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card-column">
  <div class="card">
    <div class="card-status">
      <span class="complete">COMPLETE</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="running">RUNNING</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="draft">DRAFT</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="complete">COMPLETE</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="running">RUNNING</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="draft">DRAFT</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="complete">COMPLETE</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="running">RUNNING</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="draft">DRAFT</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="complete">COMPLETE</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="running">RUNNING</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-status">
      <span class="draft">DRAFT</span>
    </div>
    <div class="card-title">
      <h1>Lorem Ipsum Dolor</h1>
      <p>March 27, 2023 10:00 PM</p>
    </div>
    <div class="card-content">
      <h3>Project subject can be two lines and placed here</h3>
      <div>
        <h4>TYPE</h4>
        <p>Website</p>
      </div>
      <div>
        <h4>KEYWORDS</h4>
        <div class="keywords">
          <span>WEB</span>
          <span>SITE</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Adicione quantos cards desejar -->
</div>
