.sidenav-container {
  height: 100%;
  background-color: #EFEEFB;
  
}

.sidenav {
  width: 200px;
  background-color: var(--primary-color);
  
  
}



a:hover {
  background-color: var(--hover-primary-color);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-toolbar {
  background-color: white;
  color: var(--primary-color);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
}

.tech {
  color: var(--headings-black);
}

.mat-nav-list a.white-text {
  color: #fff !important;
}

span {
  color: #f9f9ff;
}